# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
.git
*.env
trash
trash/sql_spacecrafts.py
trash/sql_spacecrafts_not_my.py

*/__pycache__