p {
    background-color: red;
}

h1 {
    background-color: lightskyblue;
}

.header {
    background-color: aqua;
}

.main-body {
    background-color: bisque;
}

.main-body-paragraph {
    background-color: blueviolet;
}

.header p {
    background-color: chartreuse;
}