.main-body {
    background-color: #39BEF8;
    padding-bottom: 74vh;
    display: flex;
    justify-content: center
}

.main-body-frame {
    background-color: #090830;
    width: 59vw;
    height: 42vh;
    position: absolute;
    margin-top: 15vh;
    border-radius: 8px;
    text-align: center;
    border: thin solid white;
}

.title {
    width: 25vw;
    height: 13vh;
    margin: auto;
    margin-top: 9vh;
    text-align: center;
}

.api {
    background-color: #16D66E;
    width: 5.5vw;
    height: 3vh;
    border-radius: 18px;
    margin: auto;
    color: white;
    text-align: center;
    position: relative;
    top: -3vh;

}

.api p{
    color: white;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    top: 0.57vh;
    font-weight: 600;

}

.title a{
    color: #94D2FF;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    position: relative;
    top: -1vh;
}

#com {
    text-decoration: underline;
    margin: auto;
}

#st{
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
    position: relative;
    top: 0.5vh;

}

body{
    margin: auto;
}

.footer {
    margin-left: 2.5vw;
    margin-top: 3vh;
    margin-right: 2.5vw;
    font-size: 2.5vh;
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    border: thin solid black;
    position: relative;
    display: block;
    color: #090830;
}

#contacts {
    margin: auto;
}

#source{
    font-weight: normal;
    margin: auto;
}


.cursor {
    position: absolute;
    margin-top: -4vh;
    width: 45px;
    height: 59px;
}